@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div id="carouselExampleSlidesOnly" class="carousel slide align-content-md-center" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active ">

            <img class="d-block w-100" src="/imagini/blacky.jpg" alt="">
            <div class="carousel-caption d-none d-sm-block">
                <h5>BLACKY</h5>
                <p>Sunt un catelus foarte jucaus si abia astept sa aduc buna dispozitie in familia ta. </p>
            </div>
        </div>
        
        <div class="carousel-item">
            <img class="d-block w-100" src="/imagini/Boster.jpg" alt="Boster">
            <div class="carousel-caption d-none d-sm-block">
                <h5>BOSTER</h5>
                <p>Pisicuta pis pis pis,ma numesc Boster si sunt foooarte curios de felul meu </p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/imagini/missy.jpg" alt="Missy">
            <div class="carousel-caption d-none d-sm-block">
                <h5>MISSY</h5>
                <p>Foarte comoda si roscovana,dar cu siguranta am sa va aduc si zambetul pe buze.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/imagini/mister.jpg" alt="Mister">
            <div class="carousel-caption d-none d-sm-block">
                <h5>MISTER</h5>
                <p>Imi place sa ma catar,sa curiozez si sa fac nazbatii.Cu toate acestea binedipozitia este deviza mea.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/imagini/Tom.jpg" alt="Tom">
            <div class="carousel-caption d-none d-sm-block">
                <h5>TOM</h5>
                <p>Cel ma fidel animal este cainele.Ia-ma acasa si am sa-ti demonstrez ;)</p>
            </div>

        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/imagini/Puppy.jpg" alt="Puppy">
            <div class="carousel-caption d-none d-sm-block">
                <h5>PUPPY</h5>
                <p>Cel ma fidel animal este cainele.Lasa-ma sa iti dovedesc ca este asa si ia-ma la tine acasa la caldura.</p>
            </div>

        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/imagini/Maxx.jpg" alt="Maxx">
            <div class="carousel-caption d-none d-sm-block">
                <h5>MAXX</h5>
                <p>
                    Cu urechile tot timpul ciulite,incerc sa detectez un posibil stapana,care m-ar dori in
                    casuta lui ca sa-i aduc bucurii si multe satisfcatii
                </p>

            </div>

        </div>
    </div>
</div>
