@page
@model WLoveAnimals.Pages.Animals.ContactModel
@{
    ViewData["Title"] = "Contact info";
}

<div class="card">
    <div class="card-header" style="background-color:cadetblue ; color:white">
        <h1>WLoveAnimals</h1>
    </div>
    <div class="card-body font-italic" style="background-color: azure; color: cadetblue; ">
        <h4>Pentru detalii adoptie va rugam sa ne contactati prin una din modalitatile enumerate mai jos: </h4>
        <p>------------------------------------------------------------------------------------------------</p>
        <h4>Email: WLoveAnimals@mail.com</h4>
        <h4>Telefon: 0755-123.123</h4>
        <h4>Adresa: Cluj-Napoca, str. Brasov, nr. 70</h4>
    </div>
    <div class="card-footer text-center" style="background-color:cadetblue ; color:white">
        <h5>Va multumim pentru interes.</h5>
    </div>
</div>

