@page
@model WLoveAnimals.Pages.Animals.ContactModel
@{
    ViewData["Title"] = "Contact info";
}

<link href="~/css/HomePage.css" rel="stylesheet" />



    <div class="card-body">
        <div class="card-header" style="background-color:cadetblue ; color:white">
            <h1 class="text-black-50" style="text-align:center; font-family:'Bookman Old Style';font-size:35px;">WLoveAnimals</h1>
        </div>
        <div class="card-body font-italic cb1">
            <h4 class="p-3 mb-2 bg-gradient-danger text-white" style="text-align:center; font-family:'Californian FB';">Pentru detalii adoptie va rugam sa ne contactati prin una din modalitatile enumerate mai jos: </h4>
            <br />
            <br />

            <h4 class="p-3 mb-2 bg-gradient-dark text-white" style="text-align: center; font-family: 'Bookman Old Style'; font-size: 14px;">Email: WLoveAnimals@mail.com</h4>
            <h4 class="p-3 mb-2 bg-gradient-dark text-white" style="text-align:center; font-family:'Bookman Old Style';font-size:14px;">Telefon: 0755-123.123</h4>
            <h4 class="p-3 mb-2 bg-gradient-dark text-white" style="text-align:center; font-family:'Bookman Old Style';font-size:14px;">Adresa: Cluj-Napoca, str. Brasov, nr. 70</h4>
        </div>
        <div class="card-footer text-center" style="background-color:cadetblue ; color:white">
            <h5 class="text-black-50" style="text-align:center; font-family:'Bookman Old Style';font-size:14px;">Va multumim pentru interes.</h5>
        </div>
    </div>

