@page
@model WLoveAnimals.Pages.Account.LoginModel
@{
}

@*<div class="container border" style="padding:20px">
        <form method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group row">
                <div class=" col-2">
                    <label asp-for=" Credential.UserName"></label>

                </div>
                <div class="col-5">
                    <input type="text" asp-for="Credential.UserName" class="form-control" />
                </div>
                <span class="text-danger" asp-validation-for="Credential.UserName"></span>
            </div>
            <div class="form-group row">
                <div class=" col-2">
                    <label asp-for="Credential.Password"></label>

                </div>
                <div class="col-5">
                    <input type="password" asp-for="Credential.Password" class="form-control" />

                </div>
                <span class="text-danger" asp-validation-for="Credential.Password"></span>
            </div>
            <div class="form-group row">
                <div class=" col-2">
                   <input type="submit" class="btn btn-primary" value="Login" />

                </div>
                <div class="col-5">


                </div>
            </div>
        </form>
    </div>*@


<div class="container border" style="padding:20px">
    <div class="row-justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1>Login</h1>

            <form method="post">
                <div class=" mb-3">
                    <label class="col-form-label" asp-for=" Model.Email">Email Adress</label>
                    <input type="text" asp-for="Model.Email" class="form-control" />
                    <span class="text-danger" asp-validation-for="Model.Email"></span>
                </div>

                <div class=" mb-3">
                    <label class="col-form-label" asp-for=" Model.Password">Password</label>
                    <input type="password" asp-for="Model.Password" class="form-control" />
                    <span class="text-danger" asp-validation-for="Model.Password"></span>
                </div>
                <div class="mb-3">
                    <input type="checkbox" asp-for="Model.RememberMe" class="form-check-input"/>
                    <label class="form-check-label" asp-for=" Model.RememberMe">  Remember Me?  </label>
                </div>
                <div class=" mb-3">
                   <button type="submit" class="btn btn-link">
                      Click Here
                       <i class="fa-solid fa-arrow-right"></i>
                     </button>
                                     
                </div>
            </form>
</div>

        </div>
    </div>




